* {
    font-family: sans-serif;
}

body {
    background-color: rgb(208, 208, 255);   
}

#log-text {
    margin: auto auto;
    padding: 24px;
    text-align: center;
    font-size: 42px;
}

hr {
    margin: 0 auto 30px auto;
    width: 900px;
    border-color: black;
}

input[type="text"], input[type="password"] {
    width: 175px;
    font-size: large;
}

.log-form {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 10px rgb(74, 174, 255);
    box-shadow: 0px 0px 20px;
    background-color: rgb(148, 148, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-fieldset {
    padding: 0px;
    border: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px 30px 50px 30px;
}

.grid-item:nth-of-type(odd) {
    text-align: right;
}

.grid-item:nth-of-type(even) {
    text-align: left;
}

.grid-item {
    font-size: large;
    padding: 5px;
}

.login-btn {
    height: 40px;
    width: 140px;
    font-size: 18px;
    border-radius: 7px;
    background-color: rgb(148, 191, 255);
    border-color: rgb(34, 0, 255);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}